{% extends 'base.html'%}

{% block title %}contact{% endblock title %}

{% block body %}
<div class="container-fluid px-0 mb-3" > 
    <img src="http://source.unsplash.com/1200x400/?contact,phone" class="d-block w-100 my-0" alt="...">
</div>
<div class="container mb-3">
    <h1 class="text-center">Contact us</h1>
    
    <form method="post" action="/contact"> 
    {% csrf_token %}
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="enter your name">
        </div>
        
        <div class="form-group">
            <label for="email">Email adress</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="enter your name">
        </div>
        
        <div class="form-group">
            <label for="phone">phone number</label>
            <input type="phone" class="form-control" id="phone" name="phone" placeholder="enter your email">
        </div>
        
        <div class="form-group">
            <label for="desc">Example textarea</label>
            <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
        </div>
        <button class="btn btn-primary"  type="submit">Submit</button>
        </form>
</div>
    
    {% endblock body %}